## US Sales Online

In [1]:
import pandas as pd
import sqlite3

# Read the CSV file into a DataFrame
osus = pd.read_csv('/Users/nikhilsharma/Desktop/Data/Datasets/Old/Online Sales in US.csv')

# Display the first few rows of the DataFrame
print(osus.columns)

# Establish a connection to the SQLite database
cnn = sqlite3.connect('online_sales_us.db')

# Create a cursor object
cursor = cnn.cursor()

# Drop the 'marc' table if it already exists
cursor.execute('DROP TABLE IF EXISTS osus')

# Write the DataFrame to an SQLite table
osus.to_sql('osus', cnn)

# Perform SQL queries using sqlite3
cursor.execute('SELECT * FROM osus LIMIT 5')
results = cursor.fetchall()
for row in results:
    print(row)


## Analysis using SQL

#--Average Quantity & Purchase Value by Customer

cursor.execute('''SELECT cust_id, "First Name" || ' ' || "Middle Initial" || ' ' || "Last Name" AS name,
CAST(AVG(qty_ordered) AS INT64) AS avg_quantity, ROUND(AVG(total), 0) AS avg_purchase_value
FROM osus
GROUP BY cust_id, name
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#--Total Quantity & Purchase Value by Customer

cursor.execute('''SELECT cust_id, "First_Name" || ' ' || "Middle_Initial" || ' ' || "Last_Name" AS "name", CAST(SUM(qty_ordered) AS INT64) AS "total_quantity", ROUND(SUM(total), 0) "total_purchase_value"
FROM osus 
GROUP BY cust_id, name
ORDER BY SUM(total) DESC
LIMIT 100''')
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#--Most sold product & product with highest total sale amount

cursor.execute('''SELECT sku,ROUND(SUM(total),0) AS "total_sum", COUNT(sku) AS "cnt_sku"
FROM osus
GROUP BY sku
ORDER BY COUNT(sku) DESC
LIMIT 10''')
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#--No. and % of orders that were not refunded or canceled

cursor.execute('''SELECT COUNT(*) AS total_orders, (SELECT COUNT(status)
FROM osus
WHERE status IN ('order_refunded', 'canceled', 'refund')) AS refund_or_canc, COUNT(*) - (SELECT COUNT(status)
FROM osus
WHERE status IN ('order_refunded', 'canceled', 'refund')) AS orders,
ROUND(((SELECT COUNT(status)
FROM osus
WHERE status IN ('order_refunded', 'canceled', 'refund'))/COUNT(*) * 100),2)  AS orders_ref_canc_perc

FROM osus
LIMIT 10''')
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#-- Sale by Place

cursor.execute('''SELECT "Place Name", CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY "Place Name"
ORDER BY SUM(total) DESC
LIMIT 10''')
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#-- Sale by County

cursor.execute('''SELECT County, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY County
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#-- Sale by City

cursor.execute('''SELECT City, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY City
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

#-- Sale by State

cursor.execute('''SELECT State, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY State
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#-- Sale by ZIP

cursor.execute('''SELECT Zip, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY Zip
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#-- Sale by Region

cursor.execute('''SELECT region, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY region
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--No. of Orders with & without discount

cursor.execute('''SELECT 
(SELECT COUNT(*) AS non_discount_orders FROM osus WHERE discount_amount <= 0) AS no_disc_orders, 
(SELECT COUNT(*) AS discount_orders FROM osus WHERE discount_amount <> 0) AS disc_orders
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total Revenue based on Customer Since (how long the customer has been with the company)

# By Total Revenue
cursor.execute('''SELECT strftime('%Y', "Customer Since") as cust_since_year, SUM(total) AS total_revenue
FROM osus
GROUP BY cust_since_year
ORDER BY total_revenue DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)




# By Customer Since Year
cursor.execute('''SELECT strftime('%Y', "Customer Since") as cust_since_year, CAST(SUM(total) AS INTEGER) AS total_revenue
FROM osus
GROUP BY cust_since_year
ORDER BY cust_since_year DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total Revenue by Payment Method

cursor.execute('''SELECT payment_method, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY payment_method
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Average Revenue by Payment Method

cursor.execute('''SELECT payment_method, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue
FROM osus
GROUP BY payment_method
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total by Order Status

cursor.execute('''SELECT status, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY status
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Average by Order Status

cursor.execute('''SELECT status, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY status
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total Revenue per Month

cursor.execute('''SELECT month, CAST(SUM(total) AS INT64) AS total_revenue 
FROM osus
GROUP BY month
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total Revenue per Age

cursor.execute('''SELECT age, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY age
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Average Revenue per Age

cursor.execute('''SELECT age, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY age
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total Revenue per Gender

cursor.execute('''SELECT gender, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY gender
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Average Revenue per Gender

cursor.execute('''SELECT gender, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY gender
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Total by Category

cursor.execute('''SELECT Category, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY Category
ORDER BY SUM(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)


#--Average by Category

cursor.execute('''SELECT Category, CAST(SUM(total) AS INT64) AS total_revenue, CAST(AVG(total) AS INT64) AS avg_revenue 
FROM osus
GROUP BY Category
ORDER BY AVG(total) DESC
LIMIT 100''')

# Fetch the results and create a DataFrame
results = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

# Create a DataFrame from the results with column names
df = pd.DataFrame(results, columns=column_names)

# Display the DataFrame
print(df)

# Close the database connection
cnn.close()

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'age', 'full_name', 'E Mail', 'Customer Since', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Discount_Percent'],
      dtype='object')
(0, 100354678, '10/1/20', 'received', 574772, 'oasis_Oasis-064-36', 21, 89.9, 1798.0, 0.0, 1798.0, "Men's Fashion", 'cod', 'Valid', 60124, 2020, 'Oct-20', 987867, 'Drs.', 'Jani', 'W', 'Titus', 'F', 43, 'Titus, Jani', 'jani.titus@gmail.com', '8/22/06', '627-31-5251', '405-959-1129', 'Vinson', 'Harmon', 'Vinson', 'OK', 73571, 'South', 'jwtitus', 0.0)
(1, 100354678, '10/1/20', 'received', 574774, 'Fantastic_FT-48', 11, 19.0, 190.0, 0.0, 190.0, "Men's Fashion", 'cod', 'Valid', 60124, 2020, 'Oct-20', 987867, 'Drs.', 'Jani', 'W', 'Titus', 'F', 43, 'Titus, Jani', 'jani.titus@gmail.com', '8/22/06', '627-31-5251', '405-959-1129', 'Vinson', 'Harmon', 'Vinson', 'OK', 73571, 'South', 'jwtitus', 0.0)
(2, 100354680, '10/1/20', 'complete', 574777, 'mdeal_DMC-610-8', 9, 149.9, 1199.2, 0.0, 1199.2, "Men's Fashion", 'cod', 'Net', 60124, 2020, 'Oct-20', 987867, 'Drs.', 'Jani', 'W', 'Titus', 'F', 43, 'Titus, Jani', 'jani.titus@gmail.com', '8/22/06', '627-31-5251', '405-959-1129', 'Vinson', 'Harmon', 'Vinson', 'OK', 73571, 'South', 'jwtitus', 0.0)
(3, 100354680, '10/1/20', 'complete', 574779, 'oasis_Oasis-061-36', 9, 79.9, 639.2, 0.0, 639.2, "Men's Fashion", 'cod', 'Net', 60124, 2020, 'Oct-20', 987867, 'Drs.', 'Jani', 'W', 'Titus', 'F', 43, 'Titus, Jani', 'jani.titus@gmail.com', '8/22/06', '627-31-5251', '405-959-1129', 'Vinson', 'Harmon', 'Vinson', 'OK', 73571, 'South', 'jwtitus', 0.0)
(4, 100367357, '11/13/20', 'received', 595185, 'MEFNAR59C38B6CA08CD', 2, 99.9, 99.9, 0.0, 99.9, "Men's Fashion", 'cod', 'Valid', 60124, 2020, 'Nov-20', 987867, 'Drs.', 'Jani', 'W', 'Titus', 'F', 43, 'Titus, Jani', 'jani.titus@gmail.com', '8/22/06', '627-31-5251', '405-959-1129', 'Vinson', 'Harmon', 'Vinson', 'OK', 73571, 'South', 'jwtitus', 0.0)
    cust_id                   name  avg_quantity  avg_purchase_value
0    107853          Adolfo H Hord             5             41868.0
1     89637          Brock G Hosea            16             35627.0
2     84249       Garrett S Khoury             2             32000.0
3     97291  Sherice A Sommerfield             4             31182.0
4    110497       Walter O Gurrola             3             28408.0
..      ...                    ...           ...                 ...
95   112913          Ali B Hanscom             2             14014.0
96   115209      Madison G Cirillo             2             13762.0
97   112708   Milagros U Jenkinson             2             13654.0
98    60767       Rupert P Westley             3             13640.0
99   110399             Sue L Knop             2             13413.0

[100 rows x 4 columns]
    cust_id                                 name  total_quantity  \
0    109038  First_Name Middle_Initial Last_Name             361
1    110215  First_Name Middle_Initial Last_Name             274
2    113694  First_Name Middle_Initial Last_Name             459
3    111057  First_Name Middle_Initial Last_Name             277
4     39707  First_Name Middle_Initial Last_Name             796
..      ...                                  ...             ...
95   113133  First_Name Middle_Initial Last_Name              37
96   110022  First_Name Middle_Initial Last_Name              99
97   105376  First_Name Middle_Initial Last_Name             229
98   111431  First_Name Middle_Initial Last_Name              24
99      800  First_Name Middle_Initial Last_Name             546

    total_purchase_value
0              1900290.0
1              1628440.0
2              1568178.0
3              1368423.0
4              1295995.0
..                   ...
95              167440.0
96              166937.0
97              166866.0
98              165835.0
99              165277.0

[100 rows x 4 columns]
                   sku  total_sum  cnt_sku
0  MATSAM59DB75ADB2F80  4972349.0     3775
1  MATSAM59DB757FB47A2  4807788.0     1273
2  APPNAT5A0A01860CE92   170837.0     1173
3  MATSAM5A7463EE3C1A5  2107339.0     1171
4  ENTECO5A7FE80D6C830  1269830.0     1023
5  MATTEL5A462528E403F   631883.0      967
6     VIT5ABCCF7FDF973   346724.0      890
7  ENTNOB5A4633C950FAD   943956.0      846
8  ENTNOB5A14947A21475   938656.0      771
9  MATIDR59BA510306FBE   537745.0      732
   total_orders  refund_or_canc  orders  orders_ref_canc_perc
0        286392          141699  144693                   0.0
      Place Name  total_revenue  avg_revenue
0      Noxapater        1909971        12402
1         Dennis        1630642        14430
2       Goodland        1582634         6566
3  New Hyde Park        1413711         9120
4     Washington        1371721          683
5   West Rutland        1310392         3259
6        Houston        1087899          870
7         Baring        1075097         9348
8    Springfield         941042         1151
9       Rockwood         885465         8766
         County  total_revenue  avg_revenue
0   Los Angeles        2835745          886
1        Monroe        2173748         1140
2     Jefferson        2145536          611
3       Winston        1949391        10537
4          Polk        1848129         1001
..          ...            ...          ...
95    Riverside         516317          703
96     Marshall         514449         1006
97        Mason         508362         1132
98       Fresno         507583          845
99     Richland         499659          841

[100 rows x 3 columns]
              City  total_revenue  avg_revenue
0        Noxapater        1909971        12402
1           Dennis        1630642        14430
2         Goodland        1582634         6566
3    New Hyde Park        1413711         9120
4       Washington        1371721          683
..             ...            ...          ...
95       San Diego         309969          585
96   San Francisco         304829          669
97          Bremen         301323         7174
98  Mountain Lakes         298681         3513
99         Augusta         294769          960

[100 rows x 3 columns]
   State  total_revenue  avg_revenue
0     TX       15467455          883
1     CA       13876177          810
2     NY       11365097          730
3     PA       10159042          705
4     IL        9106894          721
5     FL        8459036          802
6     VA        8193937          957
7     OH        8147443          798
8     MO        8000869          901
9     KY        6994808          945
10    MS        6485482         1819
11    NC        6363722          842
12    IN        6307448          936
13    IA        6254494          765
14    MN        5384619          671
15    WV        5284802          819
16    MI        5181664          726
17    GA        5162798          813
18    NJ        5130791         1029
19    TN        4530630          909
20    OK        4244667          808
21    MA        4180136          835
22    WI        4067435          735
23    AL        3802490          724
24    CO        3772434          749
25    WA        3765998          906
26    LA        3729478          791
27    AR        3708783          762
28    MT        3276356         1049
29    KS        3260089          668
30    MD        3123251          750
31    AZ        3116258          839
32    ME        2846749          996
33    NE        2829866          749
34    VT        2751958         1099
35    OR        2496124          785
36    ND        2420394         1029
37    SC        2303707          610
38    NM        2193450          734
39    AK        1967323          784
40    SD        1959410          654
41    UT        1957997          738
42    CT        1893172          623
43    ID        1678923          715
44    NV        1360255          788
45    NH        1331460          785
46    DC        1311284          703
47    WY        1034335          598
48    HI         621832          777
49    DE         481511          673
50    RI         305838          621
      Zip  total_revenue  avg_revenue
0   39346        1909971        12402
1   38838        1628440        14804
2   47948        1571232         6921
3   11040        1368422        11216
4    5777        1310392         3259
..    ...            ...          ...
95  10558         175949          661
96  97502         174189         1555
97   7901         172143         2001
98  99628         171291         1392
99  33975         166937         3794

[100 rows x 3 columns]
      Region  total_revenue  avg_revenue
0      South       89647849          866
1    Midwest       62920632          773
2       West       41117466          804
3  Northeast       39964246          790
   no_disc_orders  disc_orders
0          200658        85734
  cust_since_year  total_revenue
0            None   2.336502e+08
  cust_since_year  total_revenue
0            None      233650194
       payment_method  total_revenue  avg_revenue
0             Easypay       54661648          784
1         bankalfalah       47859255         2075
2     easypay_voucher       42055702         1413
3             Payaxis       38027948         1224
4                 cod       32772322          318
5          Easypay_MA        6712672          581
6         jazzvoucher        5542017          916
7          jazzwallet        2508311          376
8      customercredit        1963930          530
9                 apg        1373653          781
10            mcblite         166873          802
11     cashatdoorstep           3799          422
12  financesettlement           2059         2059
       payment_method  total_revenue  avg_revenue
0         bankalfalah       47859255         2075
1   financesettlement           2059         2059
2     easypay_voucher       42055702         1413
3             Payaxis       38027948         1224
4         jazzvoucher        5542017          916
5             mcblite         166873          802
6             Easypay       54661648          784
7                 apg        1373653          781
8          Easypay_MA        6712672          581
9      customercredit        1963930          530
10     cashatdoorstep           3799          422
11         jazzwallet        2508311          376
12                cod       32772322          318
            status  total_revenue  avg_revenue
0         canceled      132642666         1182
1         complete       62628488          703
2         received       21623024          417
3   order_refunded       14846930          577
4           refund         987018          258
5              cod         296730          104
6             paid         217169          287
7           holded         111187         4447
8           closed         105712          600
9          pending          97604         2033
10      processing          76090         2305
11  payment_review          17277          303
12  pending_paypal            292           73
            status  total_revenue  avg_revenue
0           holded         111187         4447
1       processing          76090         2305
2          pending          97604         2033
3         canceled      132642666         1182
4         complete       62628488          703
5           closed         105712          600
6   order_refunded       14846930          577
7         received       21623024          417
8   payment_review          17277          303
9             paid         217169          287
10          refund         987018          258
11             cod         296730          104
12  pending_paypal            292           73
     month  total_revenue
0   Dec-20       57666990
1   Apr-21       36698560
2   Mar-21       25161516
3   Jun-21       24645103
4   Aug-21       20521810
5   Jul-21       19037456
6   Sep-21       11531921
7   Nov-20       11485010
8   May-21       10056619
9   Jan-21        7141193
10  Oct-20        5299812
11  Feb-21        4404198
    age  total_revenue  avg_revenue
0    39        7604190         1192
1    31        5341497          989
2    52        5110780          855
3    41        5039437         1187
4    73        4686115          887
5    64        4666382          810
6    70        4573459          907
7    62        4566914          894
8    40        4537099          823
9    38        4526899          938
10   37        4472616         1019
11   55        4462628          950
12   61        4460456          971
13   43        4399709          970
14   44        4370641          907
15   24        4365735          871
16   69        4312873          798
17   28        4295456          804
18   21        4286743          821
19   27        4285358          849
20   20        4261428          972
21   25        4219675          778
22   33        4195601          839
23   63        4183159          816
24   60        4118013          819
25   54        4100369          814
26   30        3999911          824
27   29        3999732          855
28   23        3965170          945
29   49        3938459          798
30   58        3875306          851
31   66        3870271          826
32   75        3865976          825
33   65        3851914          798
34   34        3850576          907
35   67        3808193          750
36   45        3781677          759
37   47        3725802          809
38   36        3725431          631
39   19        3669417          746
40   56        3625341          744
41   74        3622372          872
42   35        3558411          694
43   48        3537127          851
44   32        3507409          732
45   59        3482277          673
46   72        3469608          732
47   53        3404109          739
48   71        3400712          755
49   51        3364561          649
50   57        3359128          770
51   18        3298070          577
52   68        3252386          661
53   22        3178473          692
54   42        3089318          747
55   46        3071469          695
56   50        3037042          416
57   26        3021285          741
    age  total_revenue  avg_revenue
0    39        7604190         1192
1    41        5039437         1187
2    37        4472616         1019
3    31        5341497          989
4    20        4261428          972
5    61        4460456          971
6    43        4399709          970
7    55        4462628          950
8    23        3965170          945
9    38        4526899          938
10   44        4370641          907
11   34        3850576          907
12   70        4573459          907
13   62        4566914          894
14   73        4686115          887
15   74        3622372          872
16   24        4365735          871
17   52        5110780          855
18   29        3999732          855
19   58        3875306          851
20   48        3537127          851
21   27        4285358          849
22   33        4195601          839
23   66        3870271          826
24   75        3865976          825
25   30        3999911          824
26   40        4537099          823
27   21        4286743          821
28   60        4118013          819
29   63        4183159          816
30   54        4100369          814
31   64        4666382          810
32   47        3725802          809
33   28        4295456          804
34   65        3851914          798
35   69        4312873          798
36   49        3938459          798
37   25        4219675          778
38   57        3359128          770
39   45        3781677          759
40   71        3400712          755
41   67        3808193          750
42   42        3089318          747
43   19        3669417          746
44   56        3625341          744
45   26        3021285          741
46   53        3404109          739
47   72        3469608          732
48   32        3507409          732
49   46        3071469          695
50   35        3558411          694
51   22        3178473          692
52   59        3482277          673
53   68        3252386          661
54   51        3364561          649
55   36        3725431          631
56   18        3298070          577
57   50        3037042          416
  Gender  total_revenue  avg_revenue
0      M      116997386          800
1      F      116652808          831
  Gender  total_revenue  avg_revenue
0      F      116652808          831
1      M      116997386          800
              category  total_revenue  avg_revenue
0    Mobiles & Tablets      130111993         2106
1           Appliances       30060835          909
2        Entertainment       27138434         1563
3               Others       15564334          596
4            Computing        9362343         1154
5      Women's Fashion        6649841          234
6        Men's Fashion        4820146          118
7           Superstore        2886906          192
8    Beauty & Grooming        2644747          147
9        Home & Living        1810582          129
10     Health & Sports        1019957          121
11         Kids & Baby         856213          131
12             Soghaat         576699           79
13  School & Education         114740          105
14               Books          32416           39
              category  total_revenue  avg_revenue
0    Mobiles & Tablets      130111993         2106
1        Entertainment       27138434         1563
2            Computing        9362343         1154
3           Appliances       30060835          909
4               Others       15564334          596
5      Women's Fashion        6649841          234
6           Superstore        2886906          192
7    Beauty & Grooming        2644747          147
8          Kids & Baby         856213          131
9        Home & Living        1810582          129
10     Health & Sports        1019957          121
11       Men's Fashion        4820146          118
12  School & Education         114740          105
13             Soghaat         576699           79
14               Books          32416           39